<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>"Doge" Meme Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://dog.ceo/api/breeds/image/random"></script>
    
    </head>

    <body>
        <!-- <h1 id ="header">
            many dogs so cute wow
        </h1> -->
            
        <script>
            
            $(function(){
                window.setInterval(function(){
                    loadNewDecimal()
                }, 5000)
            
            function loadNewDecimal(){
                $.ajax({
                    url:"/dogApi",
                    type:"POST",
                    dataType:"json",
                    success: function(message){
                        $(dogPic).attr("src", message)
                    }
                });
            }
            });

        </script>

        
        <h1 id="header1">
            many dogs
        </h1>      
        
        <h2 id="header2R">
            so cute
        </h2>
        <h2 id="header2L">
            very wow
        </h2>

        <p id = "pic"> <img id = dogPic src =""> </p>  

        <h3 id="header3R">
            so floof
        </h3>

        <h3 id="header3L">
            much bork
        </h3>

        
        
        
        
        

        

    </body>

</html>
